{% extends 'base.html' %}
{% block content %}
<div class="auth-wrapper">
    <div class="auth-right">
        <div class="form-container">
            <form method="POST" >
                {% csrf_token %}
                <h2 style="text-align: center; color: #004b66;">Reset Password</h2>
                {{ form.as_p }}
                <input type="submit" value="Reset Password">
                <div style="text-align: center; margin-top: 10px;">
                    <a href="{% url 'login' %}">Back to Login</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
